html {
	height: 100%;
	width: 100%;
	background: none repeat scroll 0 0 black;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: none repeat scroll 0 0 black;
	overflow: hidden;
	cursor: none;
}

div {
	background: none repeat scroll 0 0 black;
}

.hidden {
	display: none !important;
}

